name: Linting, Testing, Building

on:
  pull_request:
    branches: [main]

  workflow_dispatch:

env:
  NODE_VERSION: 22

jobs:
  Linting:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Enable Corepack
        run: corepack enable

      - name: Load & Cache Dependencies
        uses: ./.github/actions/cached-deps

      - name: Run Linting Rules
        run: pnpm lint

  Testing:
    needs: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Enable Corepack
        run: corepack enable

      - name: Load & Cache Dependencies
        uses: ./.github/actions/cached-deps

      - name: Run Unit Tests
        run: pnpm test

  Building:
    needs: Testing
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v5

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Enable Corepack
        run: corepack enable

      - name: Load & Cache Dependencies
        uses: ./.github/actions/cached-deps

      - name: Build
        run: pnpm build
